<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel='stylesheet' href="../static/css/style.css">
</head>
<body>

    <form method="post">
        <label for ='password'>Password:</label>
        <input type="password" name="password" required id="password">
        
        <label for ='password_confirmation'>Confirm your password:</label>
        <input type="password" name="password_confirmation" required id="password_confirmation">

        <input type="submit" value="Reset Password">        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
            <a href="/signup" style="text-decoration: none;">sign up</a>
        {% endif %}
    </form>
</body>
</html>