<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel='stylesheet' href="../static/css/style.css">
</head>
<body>

    <form method="post" action="/reset-password">
        <label for ='email'>Email:</label>
        <input type="email" name="email" required id="email">
        <input type="submit" name="Send Verification Code" value="Send Verification Code">        
        {% if error %}
            <p style="color: red;">{{ error }}</p>
            <a href="/signup" style="text-decoration: none;">sign up</a>
        {% endif %}
    </form>
</body>
</html>